/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    background-color: #000000;
}
h1,
h2,
h3,
h4 {
    margin-bottom: 0;
}
.pt-74 {
    padding-top: 74px;
}
.pb-146 {
    padding-bottom: 146px;
}
.w-100 {
    width: 100%;
}
/* End Custome Style */

/* Start Header Section */
.banner-area {
    min-height: 481px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title {
    position: relative;
    width: 794px;
    margin: 0 auto;
}
.banner-title h2 {
    font-weight: 400;
    font-size: 76px;
    line-height: 94px;
    text-align: center;
    text-transform: capitalize;
    color: #ff5e19;
    font-family: "Berkshire Swash", cursive;
}
.banner-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-top: 28px;
}
.banner-line-marker {
    position: absolute;
    right: -6%;
    top: 49%;
}
.bottom-left-img1 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.bottom-left-img2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
}
.bottom-right-img1 {
    position: absolute;
    right: 0;
    bottom: 0;
}
.bottom-right-img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}
/* End Header Section */

/* Start Player Selection  */
.single-player .card {
    background-color: #0d0d0d;
    border: 1px solid #434343;
}
.single-player .card img {
    max-width: 100%;
    height: 204px;
}
.single-player .card-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
}
.single-player .player-score {
    display: flex;
    justify-content: space-evenly;
}
.single-player .player-score h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #b3b3b3;
    padding-bottom: 32px;
    padding-top: 3px;
}
.single-player .select-btn {
    padding: 9px 0px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
}
.top-five-player {
    background-color: #0d0d0d;
}
.top-five-player h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
}
.top-five-player .selected-layer-line {
    width: 100%;
    text-align: center;
}
.top-five-player ol {
    margin-top: 30px;
    margin-left: 14px;
}
.top-five-player ol li {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    color: #fff;
    padding-left: 13px;
    padding-bottom: 20px;
}
.buget-player {
    background-color: #0d0d0d;
    border: 0;
}
.buget-player h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #ffffff;
}
.buget-player .selected-layer-line {
    width: 100%;
    text-align: center;
}
.per-player {
    display: flex;
    justify-content: space-between;
}
.per-player label {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #afafaf;
}
.per-player input {
    width: 50%;
    display: inline-block;
    background-color: #0d0d0d;
    border: 1px solid #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff !important;
}
.per-player input:focus {
    background-color: #0d0d0d;
    border: 1px solid #ffffff;
}
.calculate-price .player-expenses {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #afafaf;
    text-align: left;
}
.total-expenses {
    display: flex;
    justify-content: space-between;
}
.total-expenses h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #afafaf;
}
.total-expenses .total-expenses-color {
    color: #ff5e19;
}
/* End Player Selection */

/* Start Footer-area */
.footer-area {
    border-top: 1px solid #717171;
}
.footer-area p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
    padding: 40px 0px 50px;
    margin-bottom: 0px;
}
/* End Footer-area */
